[package]
name = "rezi_ui_native"
version = "0.0.2"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
napi = { version = "2", features = ["napi8"] }
napi-derive = "2"

[build-dependencies]
cc = "1"
napi-build = "2.2.1"
